<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:int-stream="http://www.springframework.org/schema/integration/stream"
       xmlns:int-jdbc="http://www.springframework.org/schema/integration/jdbc"

       xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/integration
   http://www.springframework.org/schema/integration/spring-integration.xsd
   http://www.springframework.org/schema/context 
   http://www.springframework.org/schema/context/spring-context.xsd
   http://www.springframework.org/schema/integration/stream
   http://www.springframework.org/schema/integration/stream/spring-integration-stream.xsd
    http://www.springframework.org/schema/integration/jdbc
    http://www.springframework.org/schame/integration/jdbc/spring-integration.xsd
">

    <context:component-scan base-package="edu.hanoi.message edu.hanoi.data"/>
    <int:channel id="helloChannel" />
    <int:channel id="stdoutChannel" />
<!--    <int:service-activator input-channel="helloChannel" ref="helloService" method="say" output-channel="nullChannel"/>-->
    <int-stream:stdout-channel-adapter channel="stdoutChannel" append-newline="true"/>
    <int:service-activator input-channel="helloChannel" ref="helloService" method="say" output-channel="stdoutChannel"/>
    <int:channel id="groupChannel" />
    <int:service-activator input-channel="groupChannel" ref="groupService" output-channel="nullChannel" />
    <int-jdbc:outbound-channel-adapter id="dataChannel"
                                       query="insert into HN_GROUP(name) values(:payload.name)"
                                       data-source="dataSource"></int-jdbc:outbound-channel-adapter>
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.apache.derby.jdbc.EmbeddedDriver"/>
        <property name="url" value="jdbc:derby:C:/java/spring-jazz/db/userdb1;create=true"/>
        <property name="username" value="" />
        <property name="password" value="" />
    </bean>
    <bean id="sessionFactoryBean" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.DerbyDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>

        <property name="packagesToScan" value="edu.hanoi.data.model" />
    </bean>
</beans>